body{
   /* height: 1000px; */
    position: relative;    
}

h1{
   font-weight: bold;
   color:red;
}

.clearfix::after {
   content: "";
   clear: both;
   display: table;
}

.card:hover{
   transform: scale(1.1);
   background-color: antiquewhite;
   cursor: all-scroll;
}