{%extends 'gal/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

  <div class="row">
  <!--Display images  in a card-->
  {% for image_item in images %}
   <div class="img col-3">  
    <div class="card h-100 border-0 shadow" id="vegetable">
      <div class="card-img-top">
        <div class="embed-responsive embed-responsive-4by3">
          <div class="embed-responsive-item">
            <img src="{{image_item.image_image.cdn_url}}" alt="" class="img-fluid w-100" />
          </div>
          <hr>
          <div class= "card-body">       
            <button class="btn btn-primary">View Details</button>        
          </div>           
        </div>
      </div>
    </div>  
  </div><!--End of col-3 -->
  
  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Items to display</h2>
  </div>
  {% endfor %}
  </div>
  
   <!--Start of div to display image on click-->
   <div class="ImageShow">
    <div class="row" >
      <div class="col-12">      
        <div class="box" id="pizShow_img">                
        </div>
        <div class="box" id="pizShow_desc">
          
        </div>
     
      </div>             
    </div>    
  </div>
  <!--End of div to display Image details on click--> 

</div>

{% endblock %}