{%extends 'gal/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

  <!-- Looping through images  -->
  {% for image_item in images %}

  <div class="row">
    <!-- displaying Image names -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ image_item.image_name }} </h2>
    </div>

  </div>

   <!--Display images  -->
   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{image_item.image_image.url}}" class="img-responsive" alt="Image">
   </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Items to display</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}