{% load static%}

<nav class="navbar navbar-expand-lg navbar-light bg-light  sticky-top">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <a class="navbar-brand" href= "{% url 'gallery-home' %}" >
    <img src="{% static 'favicon.ico' %}" width="40" height="40" alt="myGallery app logo">
   </a>
 
   <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
     <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item active">
         <a class="nav-link" href="{% url 'gallery-home' %}">Home <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Locations</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">categories</a>
       </li>
     </ul>

     <!-- Adding a search form  -->
     <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
       <input class="form-control mr-sm-2" type="search" placeholder="Search image categories" name="category" aria-label="Search">
       <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
     </form>
     <!-- search form end -->  
   </div>
 </nav>