<!--start of Navbar content-->    
<nav class="navbar navbar-expand-md bg-dark sticky-top">
   <!-- <a class="navbar-brand" href="#">
      <img src="static/img/logo.png" alt="Logo" />
   </a> -->
<!--collapsibe Button -->
   <a class="navbar-brand" href="">myGallery App</a>
<button style="border: 1px solid blue;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
   <span class="navbar-toggler-icon" ></span>
</button>
<!-- Navbar links --> 
<div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
   <ul class="navbar-nav">
      <li class="nav-item">
         <a class="nav-link active" href="#">ABOUT</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#">FOOD PICS</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#">TRAVEL PICS</a>
      </li>       
   </ul>
</div>  
</nav>
<!--End of navbar-->